.divImgLogo {
    background-color: #03334F;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
}

.imgLogo {
    opacity: 1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
