<app-header></app-header>
<div class="container">
    <span class="spanLblShopByCategory">Shop By category</span>
    <br/><br/>
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="foodFruitVegetables">
                <img src="./assets/img/Food-FruitsVegetables.jpg" class="imgFoodFruitVegetables">
                <br>
                <span class="spanLblFoodFruitVegetables">Fruits & Vegetables</span>
            </a>
        </div>
        <div class="col-sm-6">
            <a routerLink="foodBakeryDairyFrozen">
                <img src="./assets/img/Food-BakeryDairyFrozen.jpg" class="imgFoodBakeryDairyFrozen">
                <br>
                <span class="spanLblFoodBakeryDairyFrozen">Bakery, Dairy & Frozen</span>
            </a>
        </div>
    </div>
</div>
